---
import BaseHead from "../components/BaseHead.astro";
import FilteredPokeman from "../components/FilteredPokeman";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

const response = await fetch("https://pokeapi.co/api/v2/pokemon/");
const data = await response.json();
const pokemons = data.results;
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="min-h-screen flex flex-col justify-between">
		<Header />
		<main class="bg-gradient-to-r from-slate-900 to-slate-700">
			<div>
				<FilteredPokeman client:load pokemons={pokemons || []} />
			</div>
		</main>
		<Footer />
	</body>
</html>
