---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === "/" + subpath?.[0];
---

<a
	href={href}
	class:list={[
		className,
		"inline-block px-1 mx-2 text-xl text-black transition-all hover:text-gray-800",
		{
			"border-b-2 border-blue-3 font-bold": isActive,
			"no-underline hover:scale-[1.04]": !isActive,
		},
	]}
	{...props}
>
	<slot />
</a>
